.container {
    height: fit-content;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
    background: white;
    margin-top: 70px;

}

.input {
    width: 90%;
    font-size: 1.25em;
    padding: 15px 10px;
    border: none;
    outline: none;
}