.container {
    height: fit-content;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
    background: white;
    margin-top: 8vh;

}

.input {
    width: 90%;
    font-size: 2vh;
    padding: 1vh;
    border: none;
    outline: none;
}