.header {
    background-color: rgb(9, 43, 82);
    width: 100%;
    height: 7vh;
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.title {
    color: rgb(132, 196, 106);
    font-size: 2.5vh;
}
