.App {
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
  height: auto;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.inView {
  opacity: 0;
  height: 0;
}
